@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


    <div class="col-md-6 offset-3">
        <h2>Sign Up</h2>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>


        <div class="col-md-8 offset-md-4 mb-3">
            <h2>New Password</h2>
        </div>

        <form asp-controller="Home" asp-action="ResetPassword" method="post">
            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="Password"></label>
                <div>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="ConfirmPassword"></label>
                <div>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Password Confirm" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </form>
    </div>

