@model PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h2>Sign Up</h2>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>


        <form asp-controller="Member" asp-action="PasswordChange" method="post">
            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="OldPassword"></label>
                <div>
                    <input asp-for="OldPassword" class="form-control" placeholder="Old Password" />
                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="NewPassword"></label>
                <div>
                    <input asp-for="NewPassword" class="form-control" placeholder="Password Confirm" />
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="ConfirmPassword"></label>
                <div>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Password Confirm" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

